<div class="section wf-section">
    <div class="container w-container">
      <div class="grid is--hero">
        <blockquote class="block-quote"><strong class="bold-text">{{ texts.21c18220 }}<br><br></strong>
          <a href="{{ links.-528ab692 }}" class="link">{{ texts.49f40977 }}<br></a><br>
          <a target="_blank" href="{{ links.3efba51 }}" class="link">{{ texts.-7b61a26e }}<br>{{ texts.200d }}<br></a>
          <a href="{{ links.3efba51 }}" class="link">{{ texts.-5d80c540 }}</a><br><br>
          <a href="{{ links.-64d0813 }}" class="link">{{ texts.-20b51910 }}<br><br></a>{{ texts.2f8fe13d }}<br>
        </blockquote>
      </div>
    </div>
  </div>